.jumbotron{
  text-align: center;
  color: white;
  background-color: #5f9595 !important;
  justify-content: center;

}

#logo{
  width: 10% !important; 
  margin-left: auto; 
  margin-right: 10px; 
}

h1{
  font-size: 520% !important;
  margin-right: auto; 
}